* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 60%;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(109, 109, 109);
    border-radius: 20px;
    gap: 20px;

}

input{
    padding: 15px 25px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
}


#add{
    padding: 10px;
    background-color: rgb(20, 141, 226);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.todo-list{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li{
    display: flex;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: space-between;
}

h3{
    font-size: 30px;
    font-weight: 500;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
}

.edit{
    background-color: burlywood;
    color: white;
}

.del{
    background-color: brown;
    color: azure;
}
